In [1]:
# Data preprocessing most critical task. 95% of time is spent on cleaning data.
# data preprocessing related to multivariate data - both numerical and non numeric categorical.

# Step1) Check for null columns or varaibles. info() -  Delete those variable.

# Step2) Check for single value columns or variables - whole column has only one value like 1's or 0's. Delete those variables.

# Step3) Missing values treatment -  Missing values occur due to errors in data collection or due to misrepresentation of data
# Missing values must be imputed or treated before runnign the algorithm.

# a)if the column or variable has more than 70% missing values and if it is not a significant variable- Drop or Delete variable.

# b) if the column or variable has more than 70% missing values and if it is significant variable, *Numeric Variable 
#    - impute with numeric code like 9999, 1111,2222
#      *Non numeric variable - Impute with word "missing" or "NotAvailable"

# c)  if the column or variable has less than 70% missing values - imputation can be done either manualy or using Alogirthm
# Manual imputaion - Mean, median or mode or the column or variable
# Numeric - Impute with mean or median based on whether mean is distorted
# Categorical - Impute with mode or most_frequent

# Algorithm based imputation - Algorithm consider the impact of other variables on the missing values and impute accordingly.
# 1) Multivariate Imputation using Chained Equations(MICE)-used for imputing both numeric and non numeric categorical variables.


# 2) KNNImputer uses K Nearest Neighbors Algorithms which is a distance based algorithm. Works only with Numerical Data.

# 3) Probablistic PCA uses Principle Component Analysis(PCA) Algorithm for imputation.

# Deletion of Missing values can be done only if there is large data and missing values are less tahn 5% of data. 
# Large data means more than 5000 observations.

# Step4) Data Transformation - Transforming Data
# Dependent variable(y) - Variable that is being predicted
# Positive Skewness - Logarithmic Transformation or Square Root Transformation
# Naegative Skewness - Exponential Transformation or Power Transformation.

# Independent Variable(x's) - variables that are being used in the model to predict dependent variable(y).
# Scaling must be implemented.

# 1)Standard Scaler or z-score = (x-mean)/stddev.Standard scaler scales data in both positive and negative values within a range
# preferred scaler when data is in multiple mathematical units like tens hundreds, thousands, discrete integer and lakhs.

# 2) Normalization or Min Max Scaler = (X-Xmin)/(Xmax-Xmin). Scales data in the range of 0 and 1 and no negative values.
# Most used in Image processing and Neural Networks.

# 3) Robust Sclaer = (X-Q2)/(Q3-Q1) uses quartiles to scales data and is used when indepenedent variables have extreme outliers.

# Step5) Dummy Variable Encoding - Assigning Numerical Identifiers to levels/Groups/classes in categorical Variables.
# a) LableEncoder - Encodes categorical variable levels from 0 to n levels based on Alphabetical order in the same column.
# b) Pandas.get_dummies() - Creates as many columns equivalent to levels or Groups in Categorical variable and uses binary encoding (yes-1 & no-0) for each level.


# Dummy variable encoding must be done on Object/tet data, numeic categorical vriables like ratings, qurater , month, etc.

# Step6) Working with dates - dates must be converted into date format using pd.to_datetime()  function. Extract variables 
# from date like weekday, month, season, quarter, year, etc. Timedelta which is difference in time.


# Step 7) Extracting information from Alpha numeric identifiers.

# Step 8) Create new variables from existing variables.

# Step 9) Correcting duplicate levels in categorical data.

# Step 10) working with different datatypes.

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
bigmarttrain = pd.read_csv('train.csv')

In [4]:
bigmarttest = pd.read_csv('test.csv')

In [19]:
print(bigmarttrain.shape)
print(bigmarttest.shape)

# Hackathons, Jobathons & Competitions - 3 files will be provided

# Train File is complete data including dependent variable(y) and this data must be used for building or training a model.

# Test File will not have dependent variable(y) and needs to be predicted using the model built on train data.

# Sample Submission File is where predictions are copied and submitted to competition site for evaluation.

(8523, 12)
(5681, 11)

In [21]:
bigmarttrain.isna().sum()

Item_Identifier                 0
Item_Weight                  1463
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  2410
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64

In [22]:
bigmarttest.isna().sum()

Item_Identifier                 0
Item_Weight                   976
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  1606
Outlet_Location_Type            0
Outlet_Type                     0
dtype: int64

In [23]:
# For preprocessing of data, concatenation of both train and test file must be done. 
# For concatination the number of coulmns or variables must be same.
# For purpose of concatination, temporarily add dependent variable to test data and fill column with word 'test'

In [24]:
bigmarttest['Item_Outlet_Sales']='test'

In [26]:
# Concatination of both dataframe for preprocessing
combinedf = pd.concat([bigmarttrain,bigmarttest],axis=0)

# axis = 0 is Row wise Concatenation
# axis = 1 is Column wise Concatination

In [27]:
combinedf.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 14204 entries, 0 to 5680
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Identifier            14204 non-null  object
 1   Item_Weight                11765 non-null  float64
 2   Item_Fat_Content           14204 non-null  object
 3   Item_Visibility            14204 non-null  float64
 4   Item_Type                  14204 non-null  object
 5   Item_MRP                   14204 non-null  float64
 6   Outlet_Identifier          14204 non-null  object
 7   Outlet_Establishment_Year  14204 non-null  int64
 8   Outlet_Size                10188 non-null  object
 9   Outlet_Location_Type       14204 non-null  object
 10  Outlet_Type                14204 non-null  object
 11  Item_Outlet_Sales          14204 non-null  object
dtypes: float64(3), int64(1), object(8)
memory usage: 1.4+ MB

In [28]:
combinedf.duplicated().sum()

0

In [29]:
combinedf.isna().sum()

Item_Identifier                 0
Item_Weight                  2439
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  4016
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64

In [33]:
numeric_cols = combinedf.select_dtypes(include = ['int64','float64'])

categorical_cols = combinedf.select_dtypes(include = ['object'])

In [34]:
print(numeric_cols.shape)
print(categorical_cols.shape)

(14204, 4)
(14204, 8)

In [35]:
numeric_cols.describe()

        Item_Weight  Item_Visibility      Item_MRP  Outlet_Establishment_Year
count  11765.000000     14204.000000  14204.000000               14204.000000
mean      12.792854         0.065953    141.004977                1997.830681
std        4.652502         0.051459     62.086938                   8.371664
min        4.555000         0.000000     31.290000                1985.000000
25%        8.710000         0.027036     94.012000                1987.000000
50%       12.600000         0.054021    142.247000                1999.000000
75%       16.750000         0.094037    185.855600                2004.000000
max       21.350000         0.328391    266.888400                2009.000000

In [36]:
# impute item_weight
numeric_cols.Item_Weight = numeric_cols.Item_Weight.fillna(numeric_cols.Item_Weight.mean())

In [37]:
numeric_cols.describe()

        Item_Weight  Item_Visibility      Item_MRP  Outlet_Establishment_Year
count  14204.000000     14204.000000  14204.000000               14204.000000
mean      12.792854         0.065953    141.004977                1997.830681
std        4.234226         0.051459     62.086938                   8.371664
min        4.555000         0.000000     31.290000                1985.000000
25%        9.300000         0.027036     94.012000                1987.000000
50%       12.792854         0.054021    142.247000                1999.000000
75%       16.000000         0.094037    185.855600                2004.000000
max       21.350000         0.328391    266.888400                2009.000000

In [42]:
# impute Outlet_Size
categorical_cols.Outlet_Size.value_counts(dropna=False)

Medium    4655
NaN       4016
Small     3980
High      1553
Name: Outlet_Size, dtype: int64

In [43]:
# impute with word "Missing"
categorical_cols.Outlet_Size = categorical_cols.Outlet_Size.fillna("Missing")